title, hrm, brief_intro{ 
	display:block; 
	font-weight:bolder; 
	text-align:center; 
	font-size:20px; 
	background-color: #ed6663; 
	color: white; 
	font-family: Arial;
	border: 3px solid white; 
    margin:0.2em;  
    padding:0.2em;
	} 

name,details_info 
{ 
	display:block; 
	text-align:center;
	font-family: Arial; 
}
 
name { 
	color:#b52b65; 
	font-weight:bolder; 
	font-size:20px; 
	} 
details_info { 
	color:#3c2c3e
	} 