title{ 
	display:block; 
	font-weight:bolder; 
	text-align:center; 
	font-size:20px; 
	background-color: #F39C12; 
	color: white; 
	font-family: Poppins;
	border: 3px solid white; 
    margin:0.2em;  
    padding:0.2em;
	} 

company, confirmed, recovered, deaths 
{ 
	display:block; 
	text-align:center;
	font-family: Poppins; 
}
 
company { 
	color:#34495E; 
	font-weight:bolder; 
	font-size:20px; 
	} 
confirmed { 
	color:#2E86C1
	} 
recovered { 
	color:#28B463 
	} 
deaths { 
	color:#E74C3C
	}
